{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Panel</title>
    <!-- stele css control panel -->
    <link rel="stylesheet" href="{% static 'css/steleLoginPanel.css' %}">
</head>
<body>
    
    <div class="login-box">
        <h2>ورود مدیر</h2>
        <form method="post">

            {% csrf_token %}
          <div class="user-box">
            <input type="text" name="username" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
          </div>
            {% if error != '' %}
                <p style="color:#B00020;">{{ error }}</p>
            {% endif %}
          <button type="submit" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
           ورود
          </button>
        </form>
      </div>

</body>
</html>