* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration:none;
  }

  /*****  GENERALITES *****/
  
  #ths-wallpaper {
    position:absolute;
    top:0;left:0; right:0; bottom:0;
    content:"";
    position:fixed;
    z-index:0;
    overflow:hidden;
  }
  #ths-wallpaper:before {
    position:absolute;
    top:0;left:0; right:0; bottom:0;
    top:-10px;left:-10px; right:-10px; bottom: -10px;
    content:"";
    background: -webkit-gradient(linear, left top, right bottom, from(#03dac6    ), to(rgba(11,124,115,.8))), url('https://i.pinimg.com/564x/5b/d7/62/5bd7624512cc34e95ec8950e0cc7fffc.jpg');
    filter:blur(8px);
    z-index:1;
    background-size: cover;
    background-position:center;
  }
  
  /********** PROFIL **********/
  
  #ths-profil {
    width: 80%;
    max-width: 1000px;
    margin: 60px auto;
    border-radius: 15px;
    font-family: Poppins;
    font-size: 12px;
    position: relative;
    overflow:hidden;
  }
  .profil-head {
    background: linear-gradient(132deg, #9cb794a8,#00968800);
    height: 150px;
    position:relative;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .custom-shape-divider-top-1606928754 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .custom-shape-divider-top-1606928754 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 83px;
  }
  .custom-shape-divider-top-1606928754 .shape-fill {
      fill: #009688;
  }
  .profil-name {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    text-align:center;
  }
  .profil-name span strong {
    color: #fff !important;
    font-weight: normal !important;
    font-size: 30px;
    font-family: 'lemon yellow';
    letter-spacing: 1px;
  }
  .profil-body {
    background: #0096881a;
    display:flex;
    padding: 40px;
    position:relative;
  }
  .profil-body:before {
    clip-path: circle(98.0% at 0 100%);
    content:"";
    background: linear-gradient(132deg, #d4a973,#35908b);
    opacity: .3;
    z-index:2;
    position:absolute;
    height: 200px;
    width: 200px;
    left:0;
    bottom:0;
    z-index:1;
  }

  .profil-ava {
    width: 240px;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(219deg, #009688,#607D8C);
    position: relative;
    z-index: 3;
    border-radius: 15px;
  }
  .profil-ava img {
    border-radius: 12px;
  }
  .profil-prez {
    background: #bac7a7;
    background: rgba(186,199,167, .6);
    flex:1;
    margin-right: 40px;
    margin-left: -15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 20px solid transparent;
    border-left: 35px solid transparent;
    color: #fff;
    overflow:auto;
    height: 440px;
    padding-right: 6px;
  }
  .profil-prez::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #F9F9F9;
    border: transparent solid 1px;
    width: 4px;
  }
  .profil-prez::-webkit-scrollbar {
    width: 4px;
    background: transparent;
    border-radius: 4px;
  }
  .profil-prez::-webkit-scrollbar-track {
    background: none;
    border: transparent solid 4px;
    width: 4px;
  }
  .invisible {
      display: none!important;
  }
  .persona {
    display: none;
    font-size: 0;
  }
  .persona:nth-child(8), .persona:nth-child(9), .persona:nth-child(10), .persona:nth-child(11), .persona:nth-child(12), .persona:nth-child(13), .persona:nth-child(17) {
    display:flex;
    flex-direction:column;
    border-bottom: 1px solid #009688;
    margin-bottom: 10px;
    padding: 10px;
  }
  .persona .perso-label span {
    font-family: montserrat;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #009688 !important;
  }
  .persona .field_uneditable {
    font-size: 22px;
    text-align:justify;
    margin-top: 10px;
  }
  ::marker {
    font-size: 0;
  }
  .profil-stats {
    display:flex;
    flex-direction:column;
    z-index: 3;
    align-items:center;
    height: 440px;
  }
  .profil-stats:before {
    position:absolute;
    clip-path: circle(49.0% at 95% 50%);
    top:0; right: 0;
    content:"";
    background: linear-gradient(132deg, #d4a973,#35908b);
    opacity: .3;
    z-index:2;
    height: 150px;
    width: 150px;
  }
  .proficon img {
    height: 130px;
    width: 130px; 
    border-radius: 100%;
    border: 15px solid #F9F9F9;
    position:relative;
    z-index: 3;
  }
 
  .profstats a {
    overflow: hidden;
    background: #bac7a7;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 2px solid #bac7a7;
    box-shadow: 1px 1px 2px #ddd;
  }
  .profstats a img {
    height: 30px;
  }
 


  #name-title{
    position: absolute;
    top: 20px;
  }
  .style-coll{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #828b74 !important;
  }

  .class-code-mill{
    font-size: 22px;
    text-align: justify;
    margin-top: 10px;
    border-bottom: 1px solid #bac7a7;
  }

  #box-close{
    width: 50px;
    height: 28px;
    background-color: red;
    position: absolute;
    left: 11px;
    top: 11px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 19px;
    padding-top: 5px;
    transition: all 0.3s ease;
    filter: drop-shadow(2px 4px 2px black);
  }
  #box-close:hover{
    background-color: #ff0000a3;
  }
  